body {
  font-family: 'Courier New', Courier, monospace; 
  background-color:blanchedalmond;
  color: #333; 
}

.carousel-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border: 10px solid burlywood; 
  border-radius: 15px; 
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: sepia(0.3); 
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 15px; 
}


.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
}

.App-header {
  text-align: center;
  padding: 2rem;
  background-color:burlywood; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}


.posts, .news-container {
  position: relative;
  z-index: 1;
}

.posts {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.post {
  text-align: center;
  width: 30%;
  cursor: pointer;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
  background-color: burlywood;
}

.post:hover {
  border-color: #000;
}

.post img {
  width: 100%;
  height: auto;
}

.news-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color:blanchedalmond;
}

.news {
  width: 45%;
  background-color: burlywood;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.news p {
  font-size: 1rem;
  color: #333;
}

.description-container {
  padding: 2rem;
  background-color: burlywood;
  color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  border-radius: 8px;
}

.description-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.description-container p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.video-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  z-index: 1000;
  border-radius: 15px; 
  border: 5px solid #FFD700; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  width: 80%; 
  max-width: 600px; 
}

.video-popup video {
  width: 100%; 
  border-radius: 10px; 
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 50px auto; 
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-header {
  text-align: center;
  color: #333;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.App-header h1 {
  font-size: 3rem;
  margin: 0;
}

.App-header p {
  font-size: 1.5rem;
  margin-top: 10px;
}

.spaced-img {
  margin-bottom: 100px; 
}

.spaced-img + .spaced-img {
  margin-top: 20px; 
}

.posts {
  position: relative; 
  padding: 20px; 
}

.title-container {
  background-color:blanchedalmond; 
  padding: 10px 20px; 
  border-radius: 5px; 
  text-align: center; 
  margin: 0 auto; 
  max-width: 300px; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  top: -40px; 
}

.posts-title {
  font-size: 24px; 
  margin: 0; 
}
.description-container {
  padding: 20px; 
  background-color: burlywood; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

h2 {
  color: #333; 
}

h1 {
  color: black; 
  margin-bottom: 15px; 
}

p {
  line-height: 1.6; 
  margin-bottom: 20px; 
}

.description-images {
  display: flex; 
  justify-content: center; 
  gap: 10px; 
}

.video-cover {
  position: relative;
  cursor: pointer;
}

.video-cover img {
  width: 100%;
  border-radius: 10px; 
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
}
.navbar-header {
  text-align: center;
  margin-bottom: 10px; 
  width: 100%; 
  padding: 5px; 
  border-radius: 8px; 
}

.navbar-logo {
  max-width: 100px; 
  height: auto; 
  vertical-align: middle; 
}

.description-container {
  margin-top: 20px; 
  padding: 20px; 
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.blog-container {
  background-color: burlywood;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}


.blog-title {
  margin-left: 10px;
  font-size: 2em;
  color: #333;
  text-decoration: underline;
}

.blog-posts {
  padding: 20px;
}

.blog-post {
  margin-bottom: 20px;
}

.blog-post h2 {
  font-size: 24px; 
  color: #333; 
  margin-bottom: 10px; 
}

.blog-post p {
  font-size: 16px;
  line-height: 1.6;
}
.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: burlywood; 
}

.styled-button {
  padding: 15px 30px; 
  font-size: 16px; 
  color:#000; 
  background-color:peru; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}
.dropdown {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  position: relative; 
}

.dropdown-menu {
  display: block;
  position: absolute; 
  top: 100%; 
  left: 0; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  padding: 10px; 
  z-index: 1; 
}

.dropdown a {
  padding: 5px 10px; 
  text-decoration: none;
  color: #333;
}
.highlight {
  background-color: yellow;
  font-weight: bold;
}
.navbar {
  position: relative; 
  z-index: 10; 
}

.modal {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 400px; 
  max-width: 90%; 
  height: auto; 
  padding: 20px; 
  background: white; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  overflow: hidden; 
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5); 
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.modal-content {
  padding: 10px; 
}

.casarao-info {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc; 
  border-radius: 8px; 
  background-color:blanchedalmond;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.casarao-image {
  width: 50%; 
  height: auto; 
  border: 2px solid burlywood;
  border-radius: 8px; 
  margin-bottom: 15px; 
  cursor: pointer; 
}

.video-container {
  margin: 15px 0; 
}
.image-container {
  display: flex;
  justify-content: space-between;
}

.casarao-image {
  width: 45%;              
  height: 300px;            
  object-fit: cover;        
}
.fechar-button {
  background-color: burlywood;  
  color: white;                 
  border: none;               
  padding: 10px 20px;       
  font-size: 16px;           
  border-radius: 5px;           
  cursor: pointer;              
  transition: background-color 0.3s ease; 
}

.fechar-button:hover {
  background-color: #deb887;  
}
.casarao-title {
  font-size: 2rem;           
  color: #8b4513;           
  margin-bottom: 20px;        
}

.casarao-subtitle {
  font-size: 1.5rem;          
  color: #a0522d;             
  margin-top: 20px;
  margin-bottom: 10px;
}

.casarao-history p {
  font-size: 1.1rem;          
  line-height: 1.6;           
  color: #333;                 
}

.casarao-history strong {
  color: #b22222;            
}

.casarao-history em {
  font-style: italic;          
  color: #6a5acd;
}
.my-icon {
  color: #3b2b2b; 
  font-size: 32px; 
  margin-right: 8px; 
}

.my-icon:hover {
  transform: scale(1.2); 
}
.notification-count {
  background-color: red; 
  color: white; 
  border-radius: 50%;
  padding: 2px 6px; 
  position: absolute; 
  top: -5px; 
  right: -10px; 
  font-size: 12px; 
  min-width: 20px; 
  text-align: center; 
}
.chat-icon {
  position: fixed; 
  bottom: 20px;
  right: 20px;    
  background: #fff;
  border-radius: 50%; 
  padding: 10px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  cursor: pointer; 
}
